<!-- Click to call -->
<div class="modal fade" id="modalFavorites" tabindex="-1" role="dialog" aria-labelledby="modalFavorites" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ "Add to favorites "|trans }} </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p class="alert-alert-success">{{ "Thanks! This item is in your favorite list now!"|trans }} </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                    <button type="submit" class="btn btn-success">{{ "OK!"|trans }} </button>
            </div>
        </div>
    </div>
</div>
