<div class="browserMessage">
    <div class="wrapper">
        You are using an older version of Internet Explorer that may affect the full functionality of some features. We recommend you upgrade to a newer version of Internet Explorer.
    </div>
</div>
