{{ addJSFile("assets/js/lib/social-likes/social-likes.min.js") }}
{{ addJSFile("assets/js/modules/socialbuttons.js") }}
<div class="social-sharing social-likes_notext" data-zeroes="yes">
    <div class="share-facebook facebook"></div>
    <div class="share-facebook plusone"></div>
    <div class="share-twitter twitter"></div>

    {% if getSetting('disable_whatsapp_share_button') != 'y' %}
        <div class="share-whatsapp whatsapp" title="{{ item.title }}"
             data-url="{{ app.request.uri }}"></div>
    {% endif %}
</div>
