<footer class="footer-static-bottom">

    <div class="footer-links">
        <div class="container">
            <div class="row">
                {{ navigationFooter(content) }}
                {{ contactUs(true, content) }}
            </div>
        </div>
    </div>
    {{ copyright(content) }}
</footer>
