# This file is a "template" of what your parameters.yml file should look like
parameters:
    # MySQL Configuration
    database_driver:   pdo_mysql
    database_host:     HOST_DB
    database_port:     3306
    database_name:     NAME_DB
    database_user:     USER_DB
    database_password: PASS_DB
    database_charset:  UTF8

    # ElasticSearch Configuration
    elastic_host:      ES_HOST
    elastic_port:      ES_PORT

    # Swiftmailer Configuration
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       465
    mailer_encryption: ssl

    # Internationalization
    locale: en
    charset: UTF-8

    # A secret key that's used to generate certain security-related tokens
    secret: TOKEN

    # eDirectory key
    alias_members_module: sponsors
    alias_sitemgr_module: sitemgr
