<!-- Recent Articles -->
{% set recent_article = recentArticle(4, 'col-md-3 col-sm-6') -%}
{% if recent_article is not empty -%}
    <section class="block featured">
        <div class="container">
            <h2 class="theme-title"
                data-trans="{{ 'Recent Articles'|trans({},'widgets') }}">{{ content.labelRecentArticles|trans({}, 'widgets') }}
            </h2>

            <div class="row">
                {{ recent_article|raw }}
            </div>
        </div>
    </section>
{% endif -%}
