{% if items|length > 0 %}
    <div class="col-sm-12 text-center">
        <ul class="list-inline list-footer">
            {% for item in items -%}
                <li>
                    <a href="{{ item.custom == 'y' ? item.link : path(item.link) }}">
                        {{ item.label }}
                    </a>
                </li>
            {% endfor -%}
        </ul>
    </div>
{% endif %}
