<ul class="nav navbar-nav navbar-right">
    {% for item in items -%}

        <li class="{{ item.link ==  app.request.get('_route') ? 'active' :
                    ( item.custom == 'y'and item.link == app.request.uri ? 'active' : '' ) }}">
            <a href="{{ item.custom == 'y' ? item.link : path(item.link) }}">
                {{ item.label }}
            </a>
        </li>

    {% endfor -%}
</ul>
