{% if items|length > 0 %}
    <div class="col-sm-5 col-xs-12">
        <h5 data-trans="{{ 'Site Content'|trans({}, 'widgets') }}">{{ content.labelSiteContent|trans({}, 'widgets') }}  </h5>

        <div class="list-columns-2">
            <ul class="list-unstyled">
                {% for item in items -%}
                    <li>
                        <a href="{{ item.custom == 'y' ? item.link : path(item.link) }}">
                            {{ item.label }}
                        </a>
                    </li>
                {% endfor -%}
            </ul>
        </div>
    </div>
{% endif %}
