<footer class="footer-static-bottom footer-with-socialmedia">

    <div class="footer-links">
        <div class="container">
            <div class="row">
                {{ contactUs(true, content, '-followus') }}
                {{ copyright(content, '-social') }}
                {{ navigationFooter(content, '-social') }}
            </div>
        </div>
    </div>
</footer>
